#### 01-linearregression

Implement a linear model for predicting the amount of the tip
(tip) for a restaurant meal according to problem 7.1 Tips, pp 153.

In [1]:
# importing libraries

import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
# loading tips csv file
file_path = r"C:\Users\liuzz\Desktop\MLlab\tips.csv"
file = pd.read_csv(file_path)
df = pd.DataFrame(file)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### 02-logisticregression 

Apply a logistic regression model for discriminating between a
rock and a classical song (type) according to problem 7.12 Music,
pp. 171.

In [ ]:
# code

#### 03-LinR_LogR

Choose a data set of interest and apply **either** a linear
**or** a logistic regression model.

In [ ]:
# code